<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Importadas -->
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" type="image/png" href="/img/icono.ico" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">

    <link href="/static/fontawesome/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/demos/style.css">


    <!-- Titulo -->
    <title>Prex | </title>

</head>

<body>
    <header>
        <nav class="flex-ext-cont">
            <div class="logo">
                <a href="/index">
                    <img src="/img/logo.png" alt="Logo">
                </a>
            </div>

            <div>
                <div class="dropdown">
                    <button class="dropbtn">TRANSPORTE</button>
                    <div class="dropdown-content">
                        <a href="/transporte/Alquiler_Vehiculos">Alquiler de Vehículos</a>
                        <a href="#">Grúas</a>
                        <a href="#">Mensajería</a>
                        <a href="#">Personal</a>
                        <a href="#">Mudanzas</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">SCOUTING</button>
                    <div class="dropdown-content">
                        <a href="#">Apartamentos</a>
                        <a href="#">Casas</a>
                        <a href="#">Fincas</a>
                        <a href="#">Edificios</a>
                        <a href="#">Cementerio</a>
                        <a href="#">Locales</a>
                        <a href="#">Lotes</a>
                        <a href="#">Bodegas</a>
                        <a href="#">Habitaciones</a>
                        <a href="#">Hoteles</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">CASTING</button>
                    <div class="dropdown-content">
                        <a href="#">Actores</a>
                        <a href="#">Modelos</a>
                        <a href="#">Reparto</a>
                        <a href="#">Extras</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">DECORACIÓN</button>
                    <div class="dropdown-content">
                        <a href="#">Maquillaje</a>
                        <a href="#">Diseño de Interiores</a>
                        <a href="#">Diseño de Vestuario</a>
                        <a href="#">Estilistas</a>
                        <a href="#">Vestuaristas</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">OTROS</button>
                    <div class="dropdown-content">
                        <a href="#">Electricidad</a>
                        <a href="#">Abogados</a>
                        <a href="#">Banquetes y Refrigerio</a>
                        <a href="#">Cubrimiento de Eventos</a>
                        <a href="#">Representación Artistica</a>
                        <a href="#">Corredores de Seguros</a>
                        <a href="#">Publicidad</a>
                    </div>
                </div>
                <div class="dropdown buscadoor">
                    <button class="dropbtn">
                        <i class="fas fa-search"></i>
                    </button>
                    <!-- <input type="text" name="info" class "info" placeholder="Buscador"> 
                        </input>-->
                </div>
            </div>
            <div class="flex-ext-cont user">
                <div>
                    <p>Guillermo del Toro</p>
                </div>
                <div>
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <i class="fas fa-truck"></i>
                </div>
            </div>
        </nav>
    </header>

    <section class="flex-basic-cont producto_detallado">
        <section class="flex-basic-hijo imagenes">
            <article class="img_principal">
                <div style="background-Image:url('{{carro.imaUno}}')!important;"></div>
            </article>
            <article class="flex-ext-cont imgs_secundarias">
                <div class="uno" style="background-image:url('{{carro.imaUno}}')!important;"></div>
                <div class="dos" style="background-image:url('{{carro.imaDos}}')!important;"></div>
                <div class="tres" style="background-image:url('{{carro.imaTres}}')!important;"></div>
                <div class="cuatro" style="background-image:url('{{carro.imaCuatro}}')!important;"></div>
                            <div class="cinco" style="background-Image:url('{{carro.imaCinco}}')!important;"></div>

            </article>
            <article class="flex-basic-cont imgs_secundarias">
                <div class="seis" style="background-Image:url('{{carro.imaSeis}}')!important;"></div>
                <div class="siete" style="background-Image:url('{{carro.imaSiete}}')!important;"></div>
                <div class="ocho"></div>
            </article>
        </section>
        <section class="flex-basic-hijo info_prod">

            <article>
                <div>
                    <h1>{{carro.marca}} {{carro.modelo}}</h1>
                </div>
                <div>
                    <p>{{carro.descripcion}}</p>
                </div>

            </article>

            <article>
                <div>
                    <h2>Información Básica</h2>
                </div>

            </article>
            <article class="info">

                <div>
                    <p>
                        <b>Color: </b>{{carro.color}}</p>
                    <p>
                        <b>Placa: </b>{{carro.placa}}</p>
                    <p>
                        <b>Vidrios: </b>{{carro.vidrios}}</p>
                    <p>
                        <b>Sonido: </b>{{carro.sonido}}</p>

                </div>
                <div>
                    <p>
                        <b>Año: </b>{{carro.ano}}</p>
                    <p>
                        <b>Transmisión: </b>{{carro.transmicion}}</p>
                    <p>
                        <b>Retrovisores: </b>{{carro.esp_laterales}}</p>
                    <p>
                        <b>Asientos: </b>{{carro.asientos}}</p>

                </div>
                <div>
                    <p>
                        <b>Combustible: </b>{{carro.combustible}}</p>
                    <p>
                        <b>Dirección: </b>{{carro.direccion}}</p>
                    <p>
                        <b>Aire Acondicionado: </b>{{carro.aireAcondicionado}}</p>
                    <p>
                        <b>Frenos ABS: </b> {{carro.frenosABS}}
                    </p>
                </div>

                <div>
                    <p>
                        <b>Airbag: </b>{{carro.airBag}}</p>
                   
                </div>
            </article>
        </section>
    </section>


    <footer class="flex-basic-cont">
        <div class="infoo">
            <h1>SOBRE PREX</h1>
            <p>
                <a href="#">¿Quiénes somos?</a>
            </p>
            <p>
                <a href="#">Trabaja con Nosotros</a>
            </p>
            <p>
                <a href="#">Términos y Condiciones</a>
            </p>
            <p>
                <a href="#">Políticas de Privacidad</a>
            </p>
            <p>
                <a href="#">Ayuda / PQR</a>
            </p>
        </div>

        <div>
            <h1>SERVICIOS</h1>
            <p>
                <a href="#">Transporte</a>
            </p>
            <p>
                <a href="#">Scouting</a>
            </p>
            <p>
                <a href="#">Casting </a>
            </p>
            <p>
                <a href="#">Equipos</a>
            </p>
            <p>
                <a href="#">Decoración</a>
            </p>
            <p>
                <a href="#">Otros</a>
            </p>
        </div>

        <div>
            <h1>REDES SOCIALES</h1>
            <div class="logos flex-ext-cont">

                <a <i class="fab fa-instagram">
                    </i>
                </a>

                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>

            </div>
        </div>

        <div>
            <h1>SUSCRIBETE</h1>

            <div class="suscribete flex-ext-cont">
                <input type="text" placeholder="prex@prex.com">
                <button>Suscribir</button>
            </div>
        </div>

    </footer>

</body>

</html>