<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Importadas -->
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" type="image/png" href="/img/icono.ico" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">

    <link href="/static/fontawesome/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/demos/style.css">


    <!-- Titulo -->
    <title>Prex | {{carro.marca}} {{carro.modelo}} </title>

</head>

<body>
    <header>
        <nav class="flex-ext-cont">
            <div class="logo">
                <a href="/index">
                    <img src="/img/logo.png" alt="Logo">
                </a>
            </div>

            <div>
                <div class="dropdown">
                    <button class="dropbtn">TRANSPORTE</button>
                    <div class="dropdown-content">
                        <a href="/transporte/Alquiler_Vehiculos">Alquiler de Vehículos</a>
                        <a href="#">Grúas</a>
                        <a href="#">Mensajería</a>
                        <a href="#">Personal</a>
                        <a href="#">Mudanzas</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">SCOUTING</button>
                    <div class="dropdown-content">
                        <a href="#">Apartamentos</a>
                        <a href="#">Casas</a>
                        <a href="#">Fincas</a>
                        <a href="#">Edificios</a>
                        <a href="#">Cementerio</a>
                        <a href="#">Locales</a>
                        <a href="#">Lotes</a>
                        <a href="#">Bodegas</a>
                        <a href="#">Habitaciones</a>
                        <a href="#">Hoteles</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">CASTING</button>
                    <div class="dropdown-content">
                        <a href="#">Actores</a>
                        <a href="#">Modelos</a>
                        <a href="#">Reparto</a>
                        <a href="#">Extras</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">DECORACIÓN</button>
                    <div class="dropdown-content">
                        <a href="#">Maquillaje</a>
                        <a href="#">Diseño de Interiores</a>
                        <a href="#">Diseño de Vestuario</a>
                        <a href="#">Estilistas</a>
                        <a href="#">Vestuaristas</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">OTROS</button>
                    <div class="dropdown-content">
                        <a href="#">Electricidad</a>
                        <a href="#">Abogados</a>
                        <a href="#">Banquetes y Refrigerio</a>
                        <a href="#">Cubrimiento de Eventos</a>
                        <a href="#">Representación Artistica</a>
                        <a href="#">Corredores de Seguros</a>
                        <a href="#">Publicidad</a>
                    </div>
                </div>
                <div class="dropdown buscadoor">
                    <button class="dropbtn">
                        <i class="fas fa-search"></i>
                    </button>
                    <!-- <input type="text" name="info" class "info" placeholder="Buscador"> 
                        </input>-->
                </div>
            </div>
            <div class="flex-ext-cont user">
                <div>
                    <p>Guillermo del Toro</p>
                </div>
                <div>
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <a href="/checkout">
                        <i class="fas fa-truck"></i><span class="carrito">0</span>
                    </a>
                </div>
            </div>
        </nav>
    </header>

<div id="contenido">
    <section class="flex-basic-cont inicio">
        <article class="mapa_det-prod">
            <p class="mapaSitio">
                <a href="/index">PREX </a> /
                <a href="">TRANSPORTE </a>/
                <a href="/transporte/Alquiler_Vehiculos">ALQUILER DE VEHÍCULOS</a>/
                <a href="/transporte/Alquiler_Vehiculos/{{_id}}" style="text-transform:uppercase">{{carro.marca}} {{carro.modelo}}</a>
            </p>
        </article>
        <article class="titulo">
            <div>
                <h1>{{carro.marca}} {{carro.modelo}}</h1>
                <h2> Costo diario:
                    <b>{{carro.precio}} COP</b>
                </h2>
            </div>
        </article>
    </section>

    <section class="flex-basic-cont producto_detallado">

        <section class="flex-basic-hijo imagenes">
            <article class="img_principal">
                <div style="background-image:url('{{carro.imaUno}}');"></div>
            </article>
            <article class="flex-ext-cont imgs_secundarias">
                <div class="uno" style="background-image:url('{{carro.imaUno}}');"></div>
                <div class="dos" style="background-image:url('{{carro.imaDos}}');"></div>
                <div class="tres" style="background-image:url('{{carro.imaTres}}');"></div>
                <div class="cuatro" style="background-image:url('{{carro.imaCuatro}}');"></div>
                <div class="cinco" style="background-Image:url('{{carro.imaCinco}}');"></div>

            </article>

        </section>
        <section class="flex-basic-hijo info_prod">

            <article>
                <div class="titulo">
                    <h1>Caracteristicas Principales</h1>
                </div>
                <div class="descripcion">
                    <p>{{carro.descripcion}}</p>
                </div>

            </article>

            <article>
                <div class="basica">
                    <h2>Información Básica</h2>
                </div>

            </article>
            <article class="info">

                <div class="flex-ext-cont">
                    <div>
                        <h4>Color</h4>
                        <p>{{carro.color}}</p>
                    </div>

                    <div>
                        <h4>Placa</h4>
                        <p>{{carro.placa}}</p>
                    </div>
                    <div>
                        <h4>Vidrios</h4>
                        <p>{{carro.vidrios}}</p>
                    </div>
                    <div>
                        <h4>Año </h4>
                        <p>{{carro.ano}}</p>

                    </div>
                </div>
                <div class="flex-ext-cont">
                    <div>
                        <h4>
                            Transmisión</h4>
                        <p>{{carro.transmicion}}</p>
                    </div>
                    <div>
                        <h4>
                            Retrovisores </h4>
                        <p>{{carro.espe_laterales}}</p>
                    </div>
                    <div>
                        <h4>
                            Asientos</h4>
                        <p>{{carro.asientos}}</p>
                    </div>
                    <div>
                        <h4>
                            Combustible </h4>
                        <p>{{carro.combustible}}</p>
                    </div>
                </div>

                <div class="flex-ext-cont">
                    <div>
                        <h4>Dirección</h4>
                        <p>{{carro.direccion}}</p>
                    </div>
                    <div>
                        <h4>Aire Acondicionado </h4>
                        <p>{{carro.aireAcondicionado}}</p>
                    </div>
                    <div>
                        <h4>Frenos ABS </h4>
                        <p>{{carro.frenosABS}}</p>
                    </div>
                    <div>
                        <h4>Airbag</h4>
                        <p>{{carro.airBag}}</p>

                    </div>
                </div>

                <div class="flex-ext-cont sonido">
                    <div>
                        <h4>Sonido</h4>
                        <p>{{carro.sonido}}</p>
                    </div>

                    <div>
                        <h4>Precio por día</h4>
                        <p> ${{carro.precio}} COP</p>
                    </div>
                </div>


                <article class="flex-ext-cont descargas">
                    <div>
                        <a href='{{carro.fichatec}}' download="Ficha Técnica - {{carro.marca}}{{carro.modelo}}">Descargar ficha técnica</a>
                    </div>
                    <div>
                        <button class="agregar"> Agregar a la lista de alquiler</button>
                    </div>
                </article>
            </article>
        </section>
    </section>


</div>
    
    <footer>
        <div class="infoo">
            <h1>SOBRE PREX</h1>
            <p>
                <a href="#">¿Quiénes somos?</a>
            </p>
            <p>
                <a href="#">Trabaja con Nosotros</a>
            </p>
            <p>
                <a href="#">Términos y Condiciones</a>
            </p>
            <p>
                <a href="#">Políticas de Privacidad</a>
            </p>
            <p>
                <a href="#">Ayuda / PQR</a>
            </p>
        </div>

        <div>
            <h1>SERVICIOS</h1>
            <p>
                <a href="#">Transporte</a>
            </p>
            <p>
                <a href="#">Scouting</a>
            </p>
            <p>
                <a href="#">Casting </a>
            </p>
            <p>
                <a href="#">Equipos</a>
            </p>
            <p>
                <a href="#">Decoración</a>
            </p>
            <p>
                <a href="#">Otros</a>
            </p>
        </div>

        <div>
            <h1>REDES SOCIALES</h1>
            <div class="logos flex-ext-cont">

                <a <i class="fab fa-instagram">
                    </i>
                </a>

                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>

            </div>
        </div>

        <div>
            <h1>SUSCRIBETE</h1>

            <div class="suscribete flex-ext-cont">
                <input type="text" placeholder="prex@prex.com">
                <button>Suscribir</button>
            </div>
        </div>

    </footer>

    <script>
        var imgUno = '{{carro.imaUno}}';



        var principal = document.querySelector(".img_principal div");

        var ima_secun = document.querySelectorAll(".producto_detallado .imagenes .imgs_secundarias div").forEach(
            function (ima) {

                imagen = ima.style.backgroundImage;
                console.log(imagen);
                console.log(principal);
                ima.addEventListener("click", function (imagen) {
                    principal.style.backgroundImage = imagen;
                    console.log("Cambio")

                });

            });
    </script>
    <script src="/js/cliente.js"></script>

</body>

</html>