<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Importadas -->
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/multirange.css">
    <link rel="icon" type="image/png" href="/img/icono.ico" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">

    <!-- Estilo del calendario -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel=" stylesheet " href=" animate.min.css ">

    <!-- Titulo -->
    <title>Prex | Alquiler de Vehículos </title>


</head>

<body>
    <header>
        <nav class="flex-ext-cont">
            <div class="logo">
                <a href="/index">
                    <img src="/img/logo.png" alt="Logo">
                </a>
            </div>

            <div>
                <div class="dropdown">
                    <button class="dropbtn">TRANSPORTE</button>
                    <div class="dropdown-content">
                        <a href="/transporte/Alquiler_Vehiculos">Alquiler de Vehículos</a>
                        <a href="#">Grúas</a>
                        <a href="#">Mensajería</a>
                        <a href="#">Personal</a>
                        <a href="#">Mudanzas</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">SCOUTING</button>
                    <div class="dropdown-content">
                        <a href="#">Apartamentos</a>
                        <a href="#">Casas</a>
                        <a href="#">Fincas</a>
                        <a href="#">Edificios</a>
                        <a href="#">Cementerio</a>
                        <a href="#">Locales</a>
                        <a href="#">Lotes</a>
                        <a href="#">Bodegas</a>
                        <a href="#">Habitaciones</a>
                        <a href="#">Hoteles</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">CASTING</button>
                    <div class="dropdown-content">
                        <a href="#">Actores</a>
                        <a href="#">Modelos</a>
                        <a href="#">Reparto</a>
                        <a href="#">Extras</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">DECORACIÓN</button>
                    <div class="dropdown-content">
                        <a href="#">Maquillaje</a>
                        <a href="#">Diseño de Interiores</a>
                        <a href="#">Diseño de Vestuario</a>
                        <a href="#">Estilistas</a>
                        <a href="#">Vestuaristas</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">OTROS</button>
                    <div class="dropdown-content">
                        <a href="#">Electricidad</a>
                        <a href="#">Abogados</a>
                        <a href="#">Banquetes y Refrigerio</a>
                        <a href="#">Cubrimiento de Eventos</a>
                        <a href="#">Representación Artistica</a>
                        <a href="#">Corredores de Seguros</a>
                        <a href="#">Publicidad</a>
                    </div>
                </div>
                <div class="dropdown buscadoor">
                    <button class="dropbtn">
                        <i class="fas fa-search"></i>
                    </button>
                    <!-- <input type="text" name="info" class "info" placeholder="Buscador"> 
                        </input>-->
                </div>
            </div>
            <div class="flex-ext-cont user">
                <div>
                    <p>Guillermo del Toro</p>
                </div>
                <div>
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <a href="/checkout">
                        <i class="fas fa-truck"></i><span class="carrito">0</span>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div id="contenido">

        <section class="contenedor flex-basic-cont">
            <section class="izq" data-spy="affix" data-offset-top="119">
                <p class="mapaSitio">
                    <a href="/index">PREX </a> /
                    <a href="">TRANSPORTE </a>/
                    <a href="/transporte/Alquiler_Vehiculos">ALQUILER DE VEHÍCULOS</a>
                </p>
                <section class="filtro">
                    <article class=" flex-ext-cont orden">
                        <p>Ordenar por</p>

                        <select name="orden">
                            <option value="1">Precio Ascendente</option>
                            <option value="2">Precio Descendente</option>
                            <option value="3">Descuentos</option>
                        </select>

                    </article>

                    <article class="calendario">
                        <h3>Calendario</h3>
                        <div id="datepicker"></div>
                    </article>

                    <article class="rango">
                        <h3>PRECIO</h3>
                        <div class=" flex-ext-cont slidecontainer">
                            <input type="range" min="" max="2500000" value="0" class="slider" id="desde">
                            <input type="range" min="2500000" max="5000000" value="5000000" class="slider" id="hasta">
                        </div>
                        <div class="flex-ext-cont">
                            <p>Desde:
                                <span id="desdeValor"></span>
                            </p>
                            <p>Hasta:
                                <span id="hastaValor"></span>
                            </p>
                        </div>

                        <div>
                            <button class="filtroRango">Buscar</button>
                        </div>

                    </article>

                    <article class="color">
                        <h3>Color</h3>
                        <div class="flex-ext-cont coloruno">
                            <a href="/transporte/Alquiler_Vehiculos/?color=Rojo" title="Rojo"></a>
                            <a href="/transporte/Alquiler_Vehiculos/?color=Violeta" title="Violeta"></a>
                            <a href="/transporte/Alquiler_Vehiculos/?color=Amarillo" title="Amarillo"></a>
                            <a href="/transporte/Alquiler_Vehiculos/?color=Verde" title="Verde"></a>
                            <a href="/transporte/Alquiler_Vehiculos/?color=Azul" title="Azul"></a>
                        </div>
                        <div class="flex-ext-cont colordos">
                            <a href="/transporte/Alquiler_Vehiculos/?color=Negro" title="Negro"></a>
                            <a href="/transporte/Alquiler_Vehiculos/?color=Plata" title="Plata"></a>
                            <a href="/transporte/Alquiler_Vehiculos/?color=Gris" title="Gris"></a>
                            <a href="/transporte/Alquiler_Vehiculos/?color=Beige" title="Beige"></a>
                            <a href="/transporte/Alquiler_Vehiculos/?color=Blanco" title="Blancgog"></a>
                        </div>
                    </article>

                    <article class="tema">
                        <h3>Temática</h3>
                        <select name="tematica" id="tematica">
                            <option value="0">Ninguno</option>
                            <option value="1">Fantasía</option>
                            <option value="2">Acción</option>
                            <option value="3">Romance</option>
                            <option value="4">Vaqueros</option>
                            <option value="5">Comedia</option>
                        </select>
                    </article>

                    <article class="borrar">
                        <a href="/transporte/Alquiler_Vehiculos">
                            <div> Borrar Filtros</div>
                        </a>
                    </article>
                </section>

            </section>

            <section class="productos flex-basic-cont">

                {{#each carros}}
                <article>
                    <a href="/transporte/Alquiler_Vehiculos/{{_id}}">
                        <div class="img-info">
                            <img src="{{imaUno}}">
                        </div>
                        <h1>{{marca}} {{modelo}}</h1>
                        <div class="info">
                            <h2>$ {{precio}} COP</h2>
                            <p>PRECIO DIARIO POR UNIDAD</p>
                        </div>
                    </a>
                </article>
                {{/each}}
            </section>
        </section>
    </div>

    <footer class="">
        <div class="infoo">
            <h1>SOBRE PREX</h1>
            <p>
                <a href="#">¿Quiénes somos?</a>
            </p>
            <p>
                <a href="#">Trabaja con Nosotros</a>
            </p>
            <p>
                <a href="#">Términos y Condiciones</a>
            </p>
            <p>
                <a href="#">Políticas de Privacidad</a>
            </p>
            <p>
                <a href="#">Ayuda / PQR</a>
            </p>
        </div>

        <div>
            <h1>SERVICIOS</h1>
            <p>
                <a href="#">Transporte</a>
            </p>
            <p>
                <a href="#">Scouting</a>
            </p>
            <p>
                <a href="#">Casting </a>
            </p>
            <p>
                <a href="#">Equipos</a>
            </p>
            <p>
                <a href="#">Decoración</a>
            </p>
            <p>
                <a href="#">Otros</a>
            </p>
        </div>

        <div>
            <h1>REDES SOCIALES</h1>
            <div class="logos flex-ext-cont">

                <a <i class="fab fa-instagram">
                    </i>
                </a>

                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>

            </div>
        </div>

        <div>
            <h1>SUSCRIBETE</h1>

            <div class="suscribete flex-ext-cont">
                <input type="text" placeholder="prex@prex.com">
                <button>Suscribir</button>
            </div>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="/js/filtros.js"></script>
    <script src="/js/cliente.js"></script>

</body>

</html>